.technology-card__content_dot{
    width: 16px;
    height: 16px;
    margin-right: 4px;
    border-radius: 50%;
    background-color: rgb(41 114 241 / 50%);
}


@media (max-width: 640px) {
    .technology-card__content_dot{
        width: 8px;
        height: 8px;
        margin-right: 2px;
    }
    
}
