.subtitle{
    width: 558px;
    margin: 0;
    font-weight: 100;
    line-height: 160%;
    padding-left: 8px;
    color: #160003;
}

.subtitle#feynman {
    width: 241px;
    margin-left: auto;
  }

  .subtitle#travel {
    margin-left: auto;
    width: 280px;
  }

  .subtitle#heat {
    padding-left: 227px;
    width: 460px;
    margin-top: 10px;
    margin-bottom: -518px;
  }

  .subtitle#mesto {
    padding-left: 365px;
  }

  .subtitle#about {
    padding-left: 672px;
    margin-bottom: 55px;
    width: 628px;
    font-size: 16px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
  }

  .subtitle#about_one {
    padding-left: 672px;
    margin-bottom: 45px;
    width: 628px;
    font-size: 16px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    color: rgb(161, 161, 161);
  }

  .subtitle#about_one:last-child{
    margin-bottom: 0;
}

.subtitle#bonus {
  margin-bottom: 15px;
  font-size: 16px;
  border-color: transparent;
  border-style: solid;
}

.text-projects{
  width: 45%;
  margin-left: 72px;
  font-size: 16px;
  font-weight: 100;
  line-height: 160%;
}

.text-projects#surf{
  width: 45%;
  margin-left: 0;
  margin-right: 72px;
  font-size: 16px;
  font-weight: 100;
  line-height: 160%;
}

@media (max-width: 1920px) {
  .subtitle#heat{
    width: 450px;
    margin-left: auto;
}

.subtitle#mesto {
  padding-left: 391px;
}
}

@media (max-width: 1800px) {

}

@media (max-width: 1780px) {

}

@media (max-width: 1600px) {
  .subtitle{
    width: 511px;
}
}
/* 
@media (max-width: 1280px) {
.subtitle{
  width: 363px;
}
} */

/* @media (max-width: 1024px) {
.subtitle{
  width: 262px;
}
.subtitle#about_one:last-child{
  margin-bottom: 0;
}
} */
@media (max-width: 1500px) {
  .subtitle#mesto {
    padding-left: 145px;
  }
  .subtitle#about  {
    padding-left: 470px;
    text-align: start;
  }

  .subtitle#about_one {
    padding-left: 472px;
    text-align:start;
  }

}
@media (max-width: 1400px) {

  .subtitle#about  {
    padding-left: 470px;
    text-align: start;
  }

  .subtitle#about_one {
    padding-left: 472px;
    text-align:start;
  }

}

@media (max-width: 1280px) {
  .subtitle{
    width: auto;
    line-height: 193%;
    font-size: 18px;
    text-align: center;
    padding-left: 0;
}

.subtitle#weather {
  width: 280px;
  font-size: 10px;
  margin-left: -21px;
}
.subtitle#feynman {

  margin-left: auto;

  font-size: 10px;
  width: 151px;
}

.subtitle#travel {
  margin-left: auto;
  width: 176px;
    font-size: 10px;
}

.subtitle#heat {
  margin-left: auto;
  width: 288px;
  font-size: 10px;
  margin-bottom: -482px;
}

.subtitle#mesto {
  padding-left: 258px;
  width: 191px;
  font-size: 10px;
}

.subtitle#about {
  padding-left: 0;
    font-size: 12px;
    width: auto;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    margin: 0 10px 62px 10px;
}

.subtitle#bonus {
  margin-bottom: 15px;
  font-size: 12px;
  border-color: transparent;
  border-style: solid;
  text-align: left;
}

.subtitle#about_one {
    margin-bottom: 0;
    width: auto;
    padding-left: 0;
    margin-left: 232px;
    font-size: 14px;
    background-position: center center;
    border-color: transparent;
    padding-left: 0;
    border-style: solid;
    color: rgb(161, 161, 161);
}

.text-projects{
  width: 100%;
  margin-left: 0;
  margin-top: 50px;
  font-size: 18px;
  font-weight: 100;
  line-height: 160%;
  text-align: center;
}

.text-projects#surf{
  width: 100%;
  margin-left: 0;
  margin-right: 72px;
  font-size: 18px;
  font-weight: 100;
  line-height: 160%;
}

}


@media (max-width: 1143px) {
  .subtitle#heat {
    margin-bottom: -432px;
  }
}

@media (max-width: 950px) {
  .subtitle#heat {
    margin-bottom: -434px;
    margin-left: auto;
    margin-top: 10px;
  }

  .subtitle#feynman {
    margin-left: 339px;
    font-size: 10px;
    width: 149px;
  }

  .subtitle#travel {
    margin-left: 218px;
    width: 170px;
    font-size: 10px;
  }
  .subtitle#mesto {
    padding-left: 205px;
  }
}


@media (max-width: 640px) {
  .subtitle#feynman {
    margin-left: auto;
    font-size: 10px;
    width: 149px;
  }
.subtitle{
  width: auto;
  line-height: 193%;
  font-size: 14px;
  text-align: center;
  padding-left: 0;
}
.text-projects{
  font-size: 14px;
}

.subtitle#travel {
  margin-left: 0;
  width: 170px;
  font-size: 10px;
}

.text-projects#surf{
  font-size: 14px;
}

.subtitle#heat {
  margin-bottom: -541px;
  margin-left: -175px;
}
.subtitle#mesto {
  padding-left: 0;
}
.subtitle#about_one {
  margin-left: 182px;

}
}

@media (max-width: 375px) {
  .subtitle#feynman {
    margin-left: auto;
    font-size: 10px;
    width: 149px;
  }
.subtitle{
  width: auto;
  line-height: 193%;
  font-size: 14px;
  text-align: center;
  padding-left: 0;
}
.text-projects{
  font-size: 14px;
}

.subtitle#travel {
  margin-left: 0;
  width: 170px;
  font-size: 10px;
}

.text-projects#surf{
  font-size: 14px;
}

.subtitle#heat {
  padding-left: 173px;
}
.subtitle#about_one {
  margin-left: 144px;

}
}
  