@media (max-width: 640px) {
    .project__page{
        margin-bottom: 25px;
    }

    .project__page#page-tobaco{
        padding-top: 154px;
    }

    .project__page#page-mesto{
        padding-top: 48px;
    padding-left: 12px;
    }
} 