hr{
    border: none; /* Убираем границу */
    background-color: rgb(161, 161, 161);
    height: .5px; /* Толщина линии */
}

.new-projects{
        width: calc(100% - 520px);
        margin: 75px auto 75px auto;
        overflow: hidden;
    }

.projects-conteiner{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.title_span{
    font-weight: 500;
    font-size: 18px;
}

.form-conteiner{
    display: flex;
    margin-bottom: 100px;
}

.form-conteiner:last-child {
    margin-bottom: 0;
  }

.relocare-conteiner{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 50px;
}

.relocare__img{
    width: 100%;
}

.surf__img{
    width: 100%;
}

.projects-print-conteiner{
    width: 76%;
}

@media (max-width: 1920px) {
    .new-projects{
        width: calc(100% - 510px);
  }
}

/* @media (max-width: 1700px) {
    .new-projects{
        width: calc(100% - 220px);
  }

  .print#surf{
    top: 0;
    font-weight: 200;
    left: 79px;
    font-size: 10px;
}
} */


@media (max-width: 1700px) {
    .new-projects{
        width: calc(100% - 220px);
        margin: 75px auto 75px auto;
        overflow: hidden;
    }
}

@media (max-width: 1280px) {
    .new-projects{
        width: calc(100% - 60px);
        margin-bottom: 0;
  }
  .projects-print-conteiner{
    width: 100%;
}

  .form-conteiner{
    flex-direction: column;
    margin-bottom: 50px;
}

.form-conteiner:last-child {
    margin-bottom: 0;
  }

.relocare-conteiner{
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 50px;
    align-items: center;
}

.relocare__img{
    width: 100%;
}

.surf__img{
    width: 100%;
    /* height: fit-content; */
}

.title_span{
    font-weight: 500;
    font-size: 21px;
}

}

@media (max-width: 768px) {

    .new-projects{
        width: calc(100% - 30px);
        margin: 45px auto 45px auto;
    }

    .title_span{
        font-size: 14px;
    }
}