.footer__menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding-left: 658px;
}

.footer__menu > li {
    margin: 0 1rem;
    overflow: hidden;
    font-size: 20px;
    line-height: 35px;
    font-family: 'Neue Haas Grotesk Display Pro';
    font-weight: 300;
    text-decoration: none;
    color: #160003;
    border: none;
    height: 20px;
    padding-top: 96px;
    padding-bottom: 65px;
    margin-right: 110px;
    transition: opacity .5s;
    font-style:inherit;
  }

  .footer__menu > li> a{
    text-decoration: none;
    color: #160003;
  }

  .footer__menu > li:last-child{
    padding-right: 130px;
    margin-right: 0;
  }

  .footer__menu > li:hover{
    opacity: .5;
  }

  @media (max-width: 640px) {
    .footer__menu{
      display: flex;
      flex-direction: row;
      list-style-type: none;
      margin: 0;
      padding-left: 0;
    }

    .footer__menu > li {
      font-size: 15px;
      margin-right: auto;
      margin-left: auto;
      padding-top: 54px;
      padding-bottom: 45px;
    }

    .footer__menu > li:last-child{
      padding-right: 0;
      margin-right: auto;
    }
  }