.header{
  margin: auto;
  width: calc(100% - 520px);
  padding-top: 56px;
}

@media (max-width: 1700px) {
  .header{
    width: auto;
    padding-top: 25px;
    width: calc(100% - 220px);
}
} 

@media (max-width: 640px) {
  .header{
    width: auto;
    padding-top: 25px;
}
} 