.header__menu_navigation{
    display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding-left: 64px;
  float: right;
}

.header__menu_navigation > li {
    margin: 0 1rem;
    overflow: hidden;
    font-size: 24px;
    line-height: 35px;
    font-family: 'Neue Haas Grotesk Display Pro';
    font-weight: 200;
    text-decoration: none;
    color: rgb(227, 91, 218);
    border: none;
    padding-top: 18px;
    margin-right: 110px;
    transition: opacity .5s;
    font-style:inherit;
  }

  .header__menu_navigation > li> a{
    text-decoration: none;
    color: rgb(227, 91, 218);
  }

  .header__menu_navigation > li:last-child{
    padding-right: 130px;
    margin-right: 0;
    width: 30px;
  }

  .header__menu_navigation > li:hover{
    opacity: .5;
  }

  @-moz-keyframes fadeInRight {
    from {
        opacity:0;
        -webkit-transform: translatex(10px);
        -moz-transform: translatex(10px);
        -o-transform: translatex(10px);
        transform: translatex(10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
  }
  @keyframes fadeInRight {
    from {
        opacity:0;
        -webkit-transform: translatex(100px);
        -moz-transform: translatex(100px);
        -o-transform: translatex(100px);
        transform: translatex(100px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
  }
  .in-right {
    -webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-duration:2s;
    animation-delay: 2s;
  }


  @media (max-width: 640px) {
    .header__menu_navigation{
      margin: 0 auto 40px auto;
      width: 100%;
      padding: 0;
  }

  .header__menu_navigation > li {
    margin: 0 25px;
    overflow: hidden;
    font-size: 15px;
    line-height: 35px;
    font-family: 'Neue Haas Grotesk Display Pro';
    font-weight: 200;
    text-decoration: none;
    color: rgb(227, 91, 218);
    border: none;
    padding: 0;
    transition: opacity .5s;
    font-style: inherit;
  }

  .header__menu_navigation > li:last-child{
    padding-right: 0;
    width: auto;
  }

}